:host-context(.trending-container) {
  .show-description_container {
    flex: 3;
  }

  .poster {
    flex: 1;
  }
}

.show-description {
  font-size: 1.2rem;
  box-sizing: border-box;
  max-height: fit-content;
  display: flex;

  &_container {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
  }

  .poster {
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      width: 90%;
      border-radius: 10px;
    }
  }

  .genre {
    font-style: italic;
  }
}
