.show-description {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  height: 100%;
  max-height: fit-content;
  display: flex;

  &_container {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
  }

  a { color: black; }

  .details { display: none; }

  .poster {
    display: flex;
    justify-content: center;
    align-content: center;

    &_img {
      margin-right: 50px;
      width: 90%;
      border-radius: 10px;
    }

    .no-img {
      height: 100%;
    }
  }

  .genre {
    font-style: italic;
  }
}

:host-context(.trending-container) {
  .show-description_container {
    font-size: 1.2rem;
    flex: 3;
  }

  .poster {
    flex: 1;
  }
}

:host-context(.home-container) {
  .show-description {
    font-size: 1.2rem;
    width: 700px;
    height: fit-content;
    margin: auto;
  }
}

:host-context(.search-container) {
  .show-description {
    font-size: 90%;
    flex-flow: column-reverse;
    max-height: fit-content;
    width: calc(100vw / 6);
    margin: auto;

    .title {
      width: fit-content;
      max-width: 100%;
      margin: 20px auto;
      text-align: center;
    }

    .genres, .overview {
      display: none;
    }

    .poster {
      display: flex;
      justify-content: center;
      align-content: center;

      &_img {
        margin-right: 0;
        width: 90%;
        max-height: 90%;
        border-radius: 10px;
      }
    }
  }
}

:host-context(.detail-container) {
  .details { display: block }
}
