/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --main-font: Roboto, sans-serif;
  --navbar-height: 90px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
}

.main-content {
  position: relative;
  top: var(--navbar-height);
  padding-bottom: 50px;

  &_title {
    text-transform: uppercase;
    text-align: center;
  }
}

.load-btn {
  display: block;
  margin: 20px auto;
  font-family: Roboto, sans-serif;
}
